<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SLIMConnectionString" connectionString="Data Source=SLIM;Initial Catalog=Slim4Interface; Integrated Security=True"/>
    <add name="DataDecConnectionString" connectionString="Data Source=GOLLUM;Initial Catalog=DATADEC; Integrated Security=True"/>
  </connectionStrings>

  <appSettings>
    <add key="LogPath" value="..\Logs\"/>
    <add key="GetTablesQuery" value="select t.Name as TableName,c.Name as ColumnName from sys.objects t inner join sys.all_columns c on t.object_id = c.object_id where t.type in ('U','V')"/>
  </appSettings>
</configuration>