<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="OriginConnection" connectionString="Data Source=GOLLUM;Initial Catalog=DATADEC; Integrated Security=True"/>
    <add name="DestinationConnection" connectionString="Data Source=SLIM;Initial Catalog=Slim4Interface; Integrated Security=True"/>
  </connectionStrings>

  <appSettings>
    <add key="LogPath" value="..\Logs\"/>
    <add key="SearchOriginPattern" value="SLIM_"/>
    <add key="SearchDestPattern" value=""/>
    <add key="excludePatternFromMatch" value="True"/>
    <add key="GetTablesQuery" value="select t.Name as TableName,c.Name as ColumnName from sys.objects t inner join sys.all_columns c on t.object_id = c.object_id where t.type in ('U','V')"/>
    <add key ="UseBulkCopyTables" value="SLIM_S4Import_Transactions"/>
    <add key="BeforeInsertQuery" value="EXEC GOLLUM.DATADEC.DBO.pPers_SLIM_Migration_Conf"/>
    <add key="AfterInsertQuery" value="UPDATE SLIM.Slim4Interface.dbo.ImportControl SET controlStatus = 1, controlTimestamp = $TIMESTAMP"/>
    <add key="GetTableIdQuery" value="SELECT Value FROM GOLLUM.DATADEC.DBO.SLIM_ParametrosConfiguracion WHERE ParameterName = $TABLENAME"/>
    <add key="GetDestTableStatus" value="SELECT CASE WHEN controlStatus in (1,4) THEN 0 ELSE 1 END AS Busy FROM SLIM.Slim4Interface.dbo.ImportControl WHERE importType = $TABLEID"/>
    <add key="RetryBusyTables" value="5"/>
  </appSettings>
</configuration>