<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="CustomVariables" type="EasyDataMigrator.Modules.Configuration.CustomVariablesConfig, EasyDataMigrator"/>
    <section name="CustomQueries" type="EasyDataMigrator.Modules.Configuration.CustomQueriesConfig, EasyDataMigrator"/>
  </configSections>
  
  <connectionStrings>
    <add name="OriginConnection" connectionString="Data Source=GOLLUM;Initial Catalog=DATADEC; Integrated Security=True"/>
    <add name="DestinationConnection" connectionString="Data Source=SLIM;Initial Catalog=Slim4Interface; Integrated Security=True"/>
  </connectionStrings>

  <appSettings>
    <add key="LogPath" value=".\Logs\"/>
    <add key="SearchOriginPattern" value=""/>
    <add key="SearchDestPattern" value=""/>
    <add key="excludePatternFromMatch" value="True"/>
    <add key="GetTablesQuery" value="select t.Name as TableName,c.Name as ColumnName from sys.objects t inner join sys.all_columns c on t.object_id = c.object_id where t.type in ('V')"/>
    <add key ="UseBulkCopyTables" value="SLIM_S4Import_Transactions"/>
    <add key="RetryFailedMigrations" value="5"/>
    <add key="WaitTimeBusyTables" value="60"/>
    <add key="MaxQueryTimeout" value="60"/>
    <add key="MaxBulkModeTimeout" value="300"/>
    <add key="BeforeEachInsertQuery" value=""/>
    <add key="AfterEachInsertQuery" value=""/>
    <add key="MapPrecisionThreshold" value="50"/>
  </appSettings>

  <CustomVariables>
    <Variables>
      <Variable name="TABLEID" value="" type="int"/>
      <Variable name="TIMESTAMP" value="" type="string"/>      
    </Variables>
  </CustomVariables>
  
  <CustomQueries>
    <Queries>
      <Query connection="OriginConnection" sqlCommand="EXEC GOLLUM.DATADEC.DBO.pPers_SLIM_Migration_Conf" type="Execute" executionTime="BeforeMigration"/>
      <Query connection="OriginConnection" sqlCommand="SELECT Value FROM GOLLUM.DATADEC.DBO.SLIM_ParametrosConfiguracion WHERE ParameterName = %TABLENAME" type="Read" executionTime="BeforeMigration" storeIn="$TABLEID"/>
      <Query connection="OriginConnection" sqlCommand="SELECT FORMAT(GETDATE(), 'yyyyMMdd_HHmmss') AS Timestamp" type="Read" executionTime="BeforeTableMigration" storeIn="$TIMESTAMP"/>
      <Query connection="DestinationConnection" sqlCommand="SELECT CASE WHEN controlStatus in (1,4) THEN 0 ELSE 1 END AS Busy FROM SLIM.Slim4Interface.dbo.ImportControl WHERE importType = $TABLEID" type="Read" executionTime="BeforeTableMigration" storeIn="$TIMESTAMP"/>
      <Query connection="DestinationConnection" sqlCommand="UPDATE SLIM.Slim4Interface.dbo.ImportControl SET controlStatus = 1, controlTimestamp = $TIMESTAMP WHERE importType = $TABLEID" type="Execute" executionTime="AfterTableMigration"/>
    </Queries>
  </CustomQueries>
  
</configuration>