<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="OriginConnection" connectionString="Data Source=OrigServer;Initial Catalog=OrigDB; Integrated Security=True"/>
    <add name="DestinationConnection" connectionString="Data Source=DestServer;Initial Catalog=DestDB; Integrated Security=True"/>
  </connectionStrings>

  <appSettings>
    <add key="LogPath" value="..\Logs\"/>
    <add key="SearchOriginPattern" value=""/>
    <add key="SearchDestPattern" value=""/>
    <add key="excludePatternFromMatch" value="True"/>
    <add key="GetTablesQuery" value=""/>
    <add key ="UseBulkCopyTables" value=""/>
    <add key="BeforeInsertQuery" value=""/>
    <add key="AfterInsertQuery" value=""/>
    <add key="GetTableIdQuery" value=""/>
    <add key="GetDestTableStatus" value=""/>
    <add key="RetryBusyTables" value="5"/>
    <add key="WaitTimeBusyTables" value="60"/>
    <add key="MaxQueryTimeout" value="300"/>
  </appSettings>
</configuration>